*, *::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

:root {
    --ink-lighter: #72777A;
    --ink-light: #6C7072;
    --ink-base: #404446;
    --ink-dark: #979C9E;
    --ink-darker: #202325;
    --ink-darkest: #090A0A;

    --sky-white: #FFFFFF;
    --sky-lightest: #F7F9FA;
    --sky-lighter: #F2F4F5;
    --sky-light: #E3E5E5;
    --sky-base: #CDCFD0;
    --sky-dark: #979C9E;

    --primary-lightest: #E7E7FF;
    --primary-lighter: #C6C4FF;
    --primary-light: #9990FF;
    --primary-base: #6B4EFF;
    --primary-dark: #5538EE;

    --red-lightest: #FFE5E5;
    --red-lighter: #FF9898;
    --red-light: #FF6D6D;
    --red-base: #FF5247;
    --red-dark: #D3180C;
}

.button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-radius: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.iconLeft {
    position: absolute;
    left: 16px;
}

.iconRight {
    position: absolute;
    margin-left: auto;
    right: 16px;
}

.iconSide {
    position: absolute;
    margin-left: 70px;
}

.primary {
    border: solid 1px var(--primary-base);
    background-color: var(--primary-base);
    color: var(--sky-white);
}

.primary:active {
    border: solid 1px var(--primary-dark);
    background-color: var(--primary-dark);
    color: var(--sky-white);
}

.primaryDisabled {
    border: solid 1px var(--sky-light);
    background-color: var(--sky-light);
    color: var(--sky-dark);
}

.secondary {
    border: solid 1px var(--primary-lightest);
    background-color: var(--primary-lightest);
    color: var(--primary-base);
}

.secondary:active {
    border: solid 1px var(--primary-lighter);
    background-color: var(--primary-lighter);
    color: var(--primary-base);
}

.secondaryDisabled {
    border: solid 1px var(--sky-light);
    background-color: var(--sky-light);
    color: var(--sky-dark);
}

.outline {
    border: solid 1px var(--primary-base);
    background: none;
    color: var(--primary-base);
}

.outline:active {
    border: solid 1px var(--primary-dark);
    background: none;
    color: var(--primary-dark);
}

.outlineDisabled {
    border: solid 1px var(--sky-base);
    color: var(--sky-base);
}

.transparent {
    color: var(--primary-base);
    background: none;
    border: none;
}

.transparent:active {
    border: solid 1px var(--primary-lightest);
    background-color: var(--primary-lightest);
    color: var(--primary-base);
}

.transparentDisabled {
    color: var(--sky-base);
}


