*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

:root {
    --ink-lighter: #72777A;
    --ink-light: #6C7072;
    --ink-base: #404446;
    --ink-dark: #979C9E;
    --ink-darker: #202325;
    --ink-darkest: #090A0A;

    --sky-white: #FFFFFF;
    --sky-lightest: #F7F9FA;
    --sky-lighter: #F2F4F5;
    --sky-light: #E3E5E5;
    --sky-base: #CDCFD0;
    --sky-dark: #979C9E;

    --primary-lightest: #E7E7FF;
    --primary-lighter: #C6C4FF;
    --primary-light: #9990FF;
    --primary-base: #6B4EFF;
    --primary-dark: #5538EE;

    --red-lightest: #FFE5E5;
    --red-lighter: #FF9898;
    --red-light: #FF6D6D;
    --red-base: #FF5247;
    --red-dark: #D3180C;
}